.sobre-body {
    background-color: var(--cor-de-fundo-leve);
    width: 100vw;
}

.title {
    text-align: center;
}

.session {
    width: 100%;
    padding: 2.5%;
}

.cardPerfil {
    text-align: center;
}


.perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;    
}

.socialPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #92E3A9;
}

.align-center {
    text-align: center;
}

.texto-servicos {
    font-weight: bold;
}

.logo-sobre {
    color: white;
}

.img-sobre-nos{
    width: 100% !important;
    align-items: center;

}
.top{

    display: flex;
    align-items: center; 
}
.mid{
    display: flex;
    align-items: center; 
    flex-direction: row-reverse;

}

.principal-imagem-item{


    animation: float 10s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}