@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-contato{
    width: 100px;
}

.formContato {
    /*Alinhamento*/
    display: flex;
    flex-wrap: wrap ;
    align-items: flex-start;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; 
    /*Tamanho*/
    
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    /*cores*/
    background-color: rgba(174, 233, 0, 0.471);
    background-image: url(https://i.imgur.com/njlvWFS.jpg);
    background-position: 55% 73%;  
    font-family: 'Montserrat', sans-serif;
    
}

textarea {
    width: 100%;
    padding-bottom: 100px;
    resize: none;
}

.textfield-Nome {
    padding-top: 30px;
}

.textfield-Email {
    padding-top: 30px;
    padding-bottom: 30px ;
}

.botao-enviar {

    margin-top: 15px;
    
}

.formulario {
    /*Alinhamento*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Tamanho*/
    border-radius: 30px 30px 30px 30px;
    width: 350px;
    height: 450px;
    /*Cores*/
    background-color: rgb(255, 255, 255);
    /*Estilos*/
    border-style: hidden;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: -50px;
    background-color: rgba(255, 255, 255, 0.881);
    border-radius: 30px;
    text-align: center;
    
}

.containerForm{
    display: flex;
    justify-content: start;
    padding-left: 50px;

}

.containerContato {
    align-items: center;
}
iframe{
    
    margin-top: 20px;
}

p {
    font-size: 15px;
}

.button {
    
    background: linear-gradient(-45deg, #00c9d2, #39cbf7, #27c8b7, #c4f97f);
    background-size: 800% 400%;
    padding: 1em 2em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
   }
   
   .button:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
   }
   
   .button:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
   }
   
   @keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
   
    50% {
     background-position: 100% 50%;
    }
   
    100% {
     background-position: 0% 50%;
    }
   }

   