.text-decorator-none {
    text-decoration: none;
}
.flex-row{
   display: flex;
   flex-direction: row !important;
   justify-content: center !important;
   background-color: #00c9d2;
    
}
.img-prod-tab{
    justify-content: center !important;
    min-width:100% ;
    max-width: 75% !important;
}



/* card produto*/
.card-tab {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    padding: .8em;
    background: #ecebeb;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img-tab {
    background-color:  #2cb8b2;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   .img-prod-tab{
    justify-content: center;
    min-width: 100%;
    max-width:75%;
   }

   .card-img-tab {
    display: flex;
    background-color:  #2cb8b2;
    max-block-size: 120px;
    min-block-size: 200px;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card-info {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    flex-direction: column;
    
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   
   
   .card-button:hover {
    border: 1px solid  #00c9d2;
    background-color: #2cb8b2;
   }

.butons-atualizar-deletar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
    
    
    
}
.box-card-produto{
    display: flex;
    flex-direction: row;
    padding-top: 25px;      
    padding-bottom: 25px;
    padding-left: 20px;
}

.button-deletar{
    background-color:  #2cb8b2 !important;
    color: #f5f5f5 !important;
    margin-left: 52px !important;
}

.button-atualizar{
    background-color:  #2cb8b2 !important;
    color: #f5f5f5 !important;
}