.caixa{
    background-Color: var(--cor-de-fundo-leve);
    width: 100vw;
    height: calc(100vh - 160px);

    display: flex;
    justify-content: space-between;
}

.titulo {
    color: var(--texto-principais) !important;
    font-weight: 600 !important;
}

.mensagem {
    color: black;
    font-weight: 200 !important;
    font-size: 20px !important;
}

.botao-main {
    display: flex;
    justify-content: center;
    margin: 50px;
}



.postagens{
    background-color: var(--white);
}