main{
    width: 100%;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.caurses-section{
    max-width: 900px;
    width: 90%;
height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.card-carrinho{
    background-color: rgb(200, 197, 197);
    width: 100%;
    padding: 2rem;
    border-radius: 0.75rem;
}

