.text-decorator-none {
    text-decoration: none;
}
.flex-row{
   display: flex;
   flex-direction: row !important;
   justify-content: center !important;
   background-color: #00c9d2;
    
}
.img-list-prod{
    justify-content: center !important;
    min-width:100% ;
    max-width: 75% !important;
}

/* card produto*/
.card {
    display: flex;
    flex-direction: column;
    width: 260px; 
    height: 460px !important;
    padding: .8em;
    background: #ecebeb;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }

   .img-prod{
    justify-content: center !important;
    min-width: 100% !important;
    max-width:100% !important;
   }
   
   .card-img {
    display: flex;
    background-color:  #2cb8b2;
    max-block-size: 120px;
    min-block-size: 200px;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card-info {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    flex-direction: column;
    
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   
   
   .card-button:hover {
    border: 1px solid  #00c9d2;
    background-color: #2cb8b2;
   }

.butons-atualizar-deletar{
   
    justify-content: center;
    margin-top: 20px; 
}



.box-card-produto{
    
    flex-direction: row;  
    padding: 20px;
    
    
}

.button-deletar{
    background-color:  #2cb8b2 !important;
    color: #f5f5f5 !important;
    margin-left: 52px !important;
}

.button-atualizar{
    background-color:  #2cb8b2 !important;
    color: #f5f5f5 !important;
}

.page-produtos {
    background-color: var(--cor-de-fundo-leve);
    display: flex;   
    min-height: calc(100vh - 160px);
    flex-wrap: wrap;
}

.page-produtos-button{
    background-color: var(--cor-de-fundo-leve);
    padding-top: 10px;
    padding-right: 25px;

}
.box-button-cadastra{
    margin: 0 !important;
}