.nav-main {
    background-color: var(--cor-de-fundo) !important;
    box-shadow: 0px 1.2px #47474757;
    display: flex;
    justify-content: space-between;
    min-height: 60px !important;
    width: 100%;
}

.nav-link {
    display: flex;
}

.nav-link .link {
    color: var(--white);
    padding: 10px;
    text-decoration: none;
}

.nav-link .link .pages {
    padding: 0px 4px;
    border-bottom: 2px solid var(--cor-de-fundo);
    transition: all 0.3s;
}

.nav-link .link .pages:hover {   
    border-bottom: 2px solid var(--white);
}

.cursor {
    cursor: pointer;
}