.container-prod {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: var(--cor-de-fundo-leve);
    max-width: 100% !important;
    
    padding-top: 45px;
   
}
.img-prod{
    justify-content: center !important;
    min-width:50% ;
    max-width: 75% !important;
}

.img-compra-prod{
    min-width:50% !important;
}


.img-compra-prod img {
    margin-top: 10%  !important;
    margin-bottom: 1%  !important;
    margin-left: 40px  !important;
    display: flex  !important;
    align-items: center !important;
    justify-content: center !important;
    width: 80%;
}
.descricao-prod {
    margin-top: 50px !important;
   
    
}
.desc {
    padding-top: 20px;
   
}

.categoria-prod {
    font-weight: 100 !important;
}
.tipo-prod {
    font-weight: 100 !important;
}
.estoque-prod {
    font-weight: 100 !important;
}
.box-valor {
    display: flex;
    flex-wrap: wrap;
   
    justify-content: space-around !important;
    justify-content: left;
    padding-top: 50px;
}
.valor {
    display: flex;
    font-weight: 100 !important;
    font-size: 30px !important;
}
.valor div {
    padding-left: 10px;
    font-weight: bold;
    
}
.button-voltar {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 8px !important;
}
.button-voltar-color {
    background-color: var(--cor-de-fundo) !important;
}



.float {
    animation-name: float;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}