.imagem2 {
    background-image: url(assets/Sun\ energy-bro.svg);
    background-color: #92E3A9;
    border-right: 1px solid black;
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.texto-cadastro {
    font-weight: bold !important;
}

.btn-cancelar {
    margin-right: 20px !important;
}