.imagem2 {
    background-image: url(assets/Sun\ energy-bro.svg);
    background-color: var(--texto-principais);
    border-right: 5px dotted var(--cor-de-fundo);
    background-repeat: no-repeat;
    width: 100vw;
    min-height: calc(100vh - 160px);
    background-size: cover;
    background-position: center;
}

.texto-cadastro {
    font-weight: bold !important;
}

.btn-cancelar {
    margin-right: 20px !important;
}