@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&display=swap');

:root {
  --texto-detalhes: #484848;
  --texto-principais: #268fbe;
  --cor-de-fundo: #2cb8b2;
  --verde-ok: #3ddb8f;
  --highlight: #a9f04d;
  --contraste-1: #00c9d2;
  --contraste-2: #551bb3;
}

* {
  font-family: 'Nunito', sans-serif !important;
}