@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&display=swap');

:root {
  --texto-detalhes: #484848;
  --texto-principais: #309292;
  --cor-de-fundo: #2cb8b2;
  --cor-de-fundo-leve: #2cb8b14b;
  --verde-ok: #3ddb8f;
  --highlight: #a9f04d;
  --contraste-1: #00c9d2;
  --contraste-2: #551bb3;
  --white: white;
}

* {
  font-family: 'Nunito', sans-serif !important;
}

::-webkit-scrollbar {
	  width: 12px;
  }
  
  ::-webkit-scrollbar-track {
	  background: var(--white); 
  }
   
  ::-webkit-scrollbar-thumb {
	  background: var(--texto-principais); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
	  background: var(--texto-detalhes); 
  }

  .Toastify__toast-container {
    width: 40% !important;
    margin-top: 50px !important;
}